<mat-toolbar class="navbar navbar-shadow" color="primary">
  PIBUI&nbsp;&nbsp;
  <a mat-button href="https://forum.pibui.org" target="_blank" i18n>Forum</a>
  <span class="spacer"></span>
  <button mat-icon-button (click)="button.click()" *ngFor="let button of buttons">
    <mat-icon>{{ button.icon }}</mat-icon>
  </button>
  <button mat-button (click)="login()" *ngIf="!auth.isLoggedIn()">
    <mat-icon>input</mat-icon>&nbsp;
    <span i18n>Register/Sign-in</span>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="auth.isLoggedIn()">
    <mat-icon aria-label="Account">account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="openSettings()">
    <mat-icon>settings</mat-icon>&nbsp;
    <span i18n>Settings</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>&nbsp;
    <span i18n>Logout</span>
  </button>
</mat-menu>
