{{ dialogText }}
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close i18n>Cancel</button>
  <button mat-raised-button color="primary" (click)="valid()" i18n>OK</button>
</mat-dialog-actions>
