<mat-tab-group [dynamicHeight]="true">
  <mat-tab i18n-label label="Login" #loginTab>
    <p i18n>
      In order to connect, please enter your email and password.
    </p>
    <form [formGroup]="loginForm" fxLayout="column">
      <mat-form-field fxFlex="1" appearance="standard">
        <mat-label i18n>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field fxFlex="1" appearance="standard">
          <mat-label i18n>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab i18n-label label="Sign-up" #registerTab>
    <p i18n>
      In order to connect, please enter your email and password.
    </p>
    <form [formGroup]="registerForm" fxLayout="column">
      <mat-form-field fxFlex="1" appearance="standard">
          <mat-label i18n>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field fxFlex="1" appearance="standard">
          <mat-label i18n>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <br>
      <mat-form-field fxFlex="1" appearance="standard">
          <mat-label i18n>Repeat password</mat-label>
        <input matInput type="password" formControlName="passwordCheck">
      </mat-form-field>
    </form>
  </mat-tab>
</mat-tab-group>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close i18n>Cancel</button>
  <button mat-raised-button color="primary" (click)="login()" i18n *ngIf="loginTab.isActive">Login</button>
  <button mat-raised-button color="primary" (click)="register()" i18n *ngIf="registerTab.isActive">Register</button>
</mat-dialog-actions>
