<mat-form-field style="width:97%;padding-left:3%; margin-top: 8px">
  <input matInput i18n-placeholder placeholder="Search" value="" #searchValue>
</mat-form-field>
<mat-tab-group>
  <mat-tab i18n-label label="Movies">
    <mat-list style="flex-grow: 1; overflow: auto">
      <mat-list-item i18n *ngIf="showLatest">Movies newly added:</mat-list-item>
      <mat-list-item *ngIf="searching"><mat-spinner diameter="25"></mat-spinner>&nbsp;<span i18n>Searching...</span></mat-list-item>
      <mat-list-item *ngFor="let item of $data | async">
        <img matListAvatar src="https://i1.ytimg.com/vi/{{item.linkId}}/mqdefault.jpg">
        <h3 matLine> {{item.title}} </h3>
        <p matLine>
          <span>{{item.author.name}}</span>
        </p>
        <button mat-icon-button (click)="play(item.id)">
          <mat-icon>{{ selectionIcon }}</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab i18n-label label="Playlists"></mat-tab>
</mat-tab-group>
